<h1>Hello world from hello!</h1>

<%= 1 + 1 %><br />

<% target = 'world'%>
<%= "Hello #{target} "%>

<%
 @array.each do |n| %>
    <%= n %>
<% end %>

 <%= link_to('Index page', {:action => 'index'}) %>

 <br />
 ID: <%= @id %>

 <%= params[:id] %> <br />

 Page: <%= @page %> 
